{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Grade{% endblock %}

{% block body %}
    <h1>Edit Grade</h1>

    {{ include('admin/grade/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_grade_index') }}">back to list</a>

    {{ include('admin/grade/_delete_form.html.twig') }}
{% endblock %}
